@model Instructor
@{
    SelectList depts = new SelectList(ViewBag.Departments, "Id", "Name");
}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Create Instructor</h3>
            <p class="blue-text">Fill the form below to register a new Instructor</p>

            <div class="card p-4">
                <h5 class="text-center mb-4">Instructor Information</h5>

                <form asp-action="Create" asp-controller="Instructor" method="post" class="form-card">

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Name">Name<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Name" placeholder="Enter Instructor name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Age">Age<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Age" placeholder="Enter Age" />
                            <span class="text-danger" asp-validation-for="Age"></span>
                        </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Email">Email<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Email" placeholder="Enter Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div> <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Address">Address<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Address" placeholder="Enter Address" />
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <select asp-for="DepartmentId" asp-items="@depts" class="form-control m-1">
                            <option value="0">----Select Department----</option>
                      </select>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Salary">Salary<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Salary" placeholder="Enter Salary" />
                            <span class="text-danger" asp-validation-for="Salary"></span>
                        </div>
                 
                    </div><div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3" asp-for="Degree">Degree<span class="text-danger"> *</span></label>
                            <input class="form-control" asp-for="Degree" placeholder="Enter Degree" />
                            <span class="text-danger" asp-validation-for="Degree"></span>
                        </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <table>
                            <tbody>
                                @foreach (var c in ViewBag.Courses)
                                {
                                    <tr>
                                        <td class="form-floating form-control-color">

                                            <input type="checkbox" name="SelectedCourseIds" value="@c.Num" id="Course_@c.Num" />
                                            <label for="Course_@c.Num" class="ms-2">@c.Name</label>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>



                    <hr class="my-4" />


                    <div class="row justify-content-end mt-4">
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn btn-block btn-primary">Create Instructor</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
